@import 'tailwindcss';

@theme {
  --color-primary: rgb(117, 180, 75);
  --color-primary-dark: rgb(89, 135, 56);
  --color-primary-light: rgb(140, 210, 100);
  --color-modal-blue: rgb(231, 245, 254);
  --color-modal-blue-dark: rgb(80, 169, 238);
}

@layer utilities {
  .transition-smooth {
    @apply transition-all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

@layer components {
  .reveal {
    @apply opacity-0 translate-y-12 rotate-[2deg];
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .reveal.visible {
    @apply opacity-100 translate-y-0 rotate-0;
  }
}
