/* .reveal {
  opacity: 0;
  transform: translateY(3rem) rotate(2deg);
  filter: blur(8px);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) rotate(0);
  filter: blur(0);
} */
