---
import { Plus } from '@lucide/astro';
import { cx } from '../scripts/cx';

const {
  cardClass,
  contentContainerClass,
  maxHeight = '180px',
  expandingContentClass,
} = Astro.props;
---

<article class={cx('expanding-card relative overflow-hidden', cardClass)}>
  <slot name="ImageSlot" />
  <div class={cx('absolute bottom-0 left-0 bg-white', contentContainerClass)}>
    <div class="flex justify-between items-center">
      <slot name="HeadingText" />
      <button
        class="expanding-button transition-all duration-300 data-[content-expanded=true]:rotate-45 shrink-0 p-1 rounded-full shadow border-1 border-neutral-200 cursor-pointer"
      >
        <Plus class="stroke-neutral-600" />
      </button>
    </div>
    <div
      class={cx(
        'expanding-content line-clamp-1 overflow-hidden transition-all',
        expandingContentClass
      )}
      data-max-height={maxHeight}
    >
      <slot name="Description" />
    </div>
  </div>
</article>
