---
import { Phone } from '@lucide/astro';
---

<a
  href="/contact"
  class="fixed bottom-4 right-4 lg:bottom-6 flex items-center justify-center lg:px-6 gap-2 lg:right-6 z-40 bg-green-500 text-white p-3 rounded-full border-green-400 border shadow-lg transition-all duration-200"
  aria-label="Call Us"
>
  <Phone class="size-5" />
  <span class="hidden lg:inline-flex">Contact Us </span>
</a>
