---
import heroImage from '../assets/sliding-wind.webp';
import { Image } from 'astro:assets';
import Button from '../components/button.astro';
---

<section
  id="hero"
  class="relative w-full min-h-[85dvh] max-h-[95dvh] overflow-hidden flex items-center"
>
  <div class="absolute inset-0 w-full h-full z-0">
    <Image
      src={heroImage}
      format="avif"
      quality={90}
      decoding={'async'}
      priority={true}
      fetchpriority={'high'}
      layout="full-width"
      fit="cover"
      loading={'eager'}
      alt="Hero Background"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/60"></div>
  </div>

  <div class="relative z-10 text-white px-4 md:ml-16 max-w-2xl">
    <h1 class="text-5xl md:text-7xl text-primary font-bold mb-4 tracking-tight">
      <span>TESTED HAI</span>
      <br />
      <span>TRUSTED HAI</span>
    </h1>
    <p class="text-xl mb-6">System aluminium windows made for Indian homes</p>
    <div class="flex flex-col sm:flex-row gap-4">
      <Button title="Book a free consultation" variant="primary" />
      <Button title="Download Brochur" variant="secondary" />
    </div>
  </div>
</section>
