---
import heroImage from '../assets/sliding-wind.webp';
import { Image } from 'astro:assets';
import Button from '../components/button.astro';
import StaggerText from './stagger-text.astro';
import { Download } from '@lucide/astro';
---

<section
  id="hero"
  class="relative w-full min-h-[85vh] max-h-[95vh] overflow-hidden flex items-center"
>
  <div class="absolute inset-0 w-full h-full z-0">
    <Image
      src={heroImage}
      format="avif"
      quality={90}
      decoding={'async'}
      priority={true}
      fetchpriority={'high'}
      layout="full-width"
      fit="cover"
      loading={'eager'}
      alt="Hero Background"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/60"></div>
  </div>
  <div class="relative z-10 text-white px-4 md:ml-16 max-w-2xl">
    <h1
      class="text-6xl md:text-8xl text-shadow-md text-primary font-bold mb-4 tracking-tight"
    >
      <StaggerText text="TESTED HAI" baseDelay={0} step={120} />
      <br />
      <StaggerText text="TRUSTED HAI" baseDelay={400} step={120} />
    </h1>
    <p
      class="text-2xl lg:text-4xl mb-6 max-w-lg text-wrap text-shadow-sm reveal"
      data-delay={870}
    >
      System aluminium windows made for Indian homes
    </p>
    <div class="flex flex-col sm:flex-row gap-4">
      <Button
        title="Book a free consultation"
        reveal={true}
        animationDelay={800}
        variant="primary"
      />
      <Button
        title="Download Brochure"
        reveal={true}
        animationDelay={1000}
        variant="secondary"
      >
        <Download slot={'startIcon'} size={16} />
      </Button>
    </div>
  </div>
</section>

<script>
  import { initRevealObserver } from '../scripts/reveal';

  document.addEventListener('DOMContentLoaded', () => {
    initRevealObserver();
  });
</script>
