---
import { cx } from '../scripts/cx';
const { title, description, headingClass, descriptionClass } = Astro.props;

const headingClassList = cx(
  'text-[clamp(1.75rem,4vw,2.75rem)] text-neutral-800 font-semibold',
  'reveal',
  headingClass
);

const descriptionClassList = cx(
  'text-[clamp(1rem,2vw,1.25rem)] text-neutral-700 mt-2',
  'reveal',
  descriptionClass
);
---

<h2 class={headingClassList}>
  {title}
</h2>
{
  description && (
    <p class={descriptionClassList} data-delay="50">
      {description}
    </p>
  )
}
