---
const { title, description } = Astro.props;
---

<h2 class="text-4xl text-gray-800 font-semibold reveal">
  {title}
</h2>
<p class="text-lg text-gray-700 mt-2 reveal" data-delay="100">
  {description}
</p>
