---
// Accepts: text, baseDelay (optional), stepDelay (optional)
const { text, baseDelay = 0, step = 100, className } = Astro.props;

const words = text.split(' ');
---

<span aria-label={text} role="presentation">
  {
    words.map((word: string, i: number) => (
      <span
        class={`reveal inline-block whitespace-nowrap ${className}`}
        data-delay={baseDelay + i * step}
      >
        {word}&nbsp;
      </span>
    ))
  }
</span>
