---
import SectionHeading from '../components/section-heading.astro';

import oneTrackTwoShutter from '../assets/1-track-2-shutter.png';
import twoTrackThreeShutter from '../assets/2-track-3-shutter.png';
import threeTrackThreeShutter from '../assets/3-track-3-shutter.png';
import { Image } from 'astro:assets';

const configurations = [
  {
    img: threeTrackThreeShutter,
    title: '3 Track 3 Shutter',
  },
  {
    img: oneTrackTwoShutter,
    title: '1 Track 2 Shutter',
  },
  {
    img: twoTrackThreeShutter,
    title: '2 Track 3 Shutter',
  },
];
---

<section id="popular-typology">
  <div class="max-w-6xl mx-auto pt-16 text-center">
    <SectionHeading
      title="Popular Typology"
      description="Choose from our most popular window configurations designed for different architectural needs"
    />
    <div
      class="grid lg:grid-cols-3 grid-cols-1 gap-4 pt-8 rounded-2xl justify-items-center"
    >
      {
        configurations.map(({ img, title }) => (
          <div class="flex flex-col items-center w-2xs">
            <Image src={img} alt={title} height={192} class="mb-2" />
            <p class="font-semibold text-gray-700">{title}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
