---
import { CircleArrowLeft, CircleArrowRight } from '@lucide/astro';
import { Image } from 'astro:assets';
import amethyst from '../assets/projects/amethyst.png';
import eldeco from '../assets/projects/eldeco2.png';
import habitat from '../assets/projects/habitat1.png';
import shalimar from '../assets/projects/shalimar1.png';
import spenser from '../assets/projects/spenser.jpg';
import Marquee from '../components/marquee.astro';

// Amethyst, by Vaibhav Group, Vadodara - 15000 SQFT – Logo available, Image available
// Eldeco Luxa, Lucknow - 36000 SQFT - Logo available, Image available
// Hawkins Factory, Satharia - 4000 SQFT - Logo available, No Image available
// Shah Hospital, karnal - 12000 SQFT – No Logo as it is hospital, No Image available
// Shalimar Mannat, Lucknow – Sqft details missing – Logo available, Image available
// Spenser X Marina, Vadodara - 25000 SQFT – Logo available, Image available
// Habitat, Unitech, Noida – sqft details missing – Logo available, Image available

const properties = [
  {
    id: 1,
    name: 'Amethyst, Vadodara',
    area: '15000 Sqft.',
    image: amethyst,
  },
  {
    id: 2,
    name: 'Eldeco Luxa, Lucknow',
    area: '36000 Sqft.',
    image: eldeco,
  },
  {
    id: 3,
    name: 'Shalimar Mannat, Lucknow',
    // area: '30000 Sqft.',
    image: shalimar,
  },
  {
    id: 4,
    name: 'Spenser X Marina, Vadodara',
    area: '25000 Sqft.',
    image: spenser,
  },
  {
    id: 5,
    name: 'Habitat, Noida',
    // area: 'Sqft.',
    image: habitat,
  },
  // {
  //   id: 6,
  //   name: 'Hawkins Factory, Satharia',
  //   area: '4000 Sqft.',
  //   image: demoImage,
  // },
  // {
  //   id: 7,
  //   name: 'Shah Hospital, Karnal',
  //   area: '12000 Sqft.',
  //   image: demoImage,
  // },
];
---

<section id="projects" class="w-full">
  <div class="bg-secondary md:py-24 py-16 z-0">
    <div class="md:px-4 max-w-6xl mx-auto embla">
      <div class="flex px-4 items-center justify-between mb-12">
        <h2 class="lg:text-4xl text-3xl font-bold text-white">
          Shaping Skylines with excellence
        </h2>
        <div class="items-center gap-2 hidden md:flex">
          <button
            class="embla-prev text-white hover:text-secondary-light disabled:cursor-not-allowed transition-colors disabled:text-white/50 cursor-pointer"
            aria-label="Previous slide"
          >
            <CircleArrowLeft class="size-10 stroke-[1.5]" />
          </button>
          <button
            class="embla-next text-white hover:text-secondary-light disabled:cursor-not-allowed transition-colors disabled:text-white/50 cursor-pointer"
            aria-label="Next slide"
          >
            <CircleArrowRight class="size-10 stroke-[1.5]" />
          </button>
        </div>
      </div>

      <div class="embla-viewport">
        <div class="embla-container">
          {
            properties.map((property) => (
              <div class="embla-slide reveal w-64 first-of-type:ml-4 last-of-type:mr-4 mx-2">
                <div class="aspect-[8/9] overflow-hidden rounded-xl bg-radial from-indigo-500 to-indigo-600">
                  <Image
                    src={property.image}
                    alt={property.name}
                    loading="lazy"
                    decoding="async"
                    widths={[288, 320, 384]}
                    sizes="(max-width: 640px) 288px, (max-width: 768px) 320px, 384px"
                    format="webp"
                    class="h-full w-full object-cover hover:scale-105 transition-transform duration-300"
                  />
                </div>
                <div class="p-2">
                  <h3 class="text-md font-semibold text-white">
                    {property.name}
                  </h3>
                  <p class="text-neutral-100 font-medium text-sm">
                    {property.area}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <Marquee />
</section>
