---
import Button from '../components/button.astro';
import SectionHeading from '../components/section-heading.astro';

import warrantySupportImage from '../assets/warranty-support.svg';
import expertInstallationImage from '../assets/expert-installation.svg';
import qualityAssuranceImage from '../assets/quality-assurance.svg';
import { Image } from 'astro:assets';
import Marquee from '../components/marquee.astro';

const serviceHighlights = [
  {
    icon: qualityAssuranceImage, // map this to your actual icon or SVG
    title: 'Quality Assurance',
    description:
      'BIS certified products tested for Indian conditions with lifetime quality guarantee',
  },
  {
    icon: expertInstallationImage, // or any technician/worker icon you use
    title: 'Expert Installation',
    description:
      'Professional installation by certified technicians with comprehensive training',
  },
  {
    icon: warrantySupportImage, // or wrench-gear icon
    title: 'Warranty Support',
    description: 'Comprehensive warranty and 24/7 after-sales service support',
  },
];
---

<section id="why-choose-us">
  <div class="bg-secondary text-white">
    <div class="max-w-6xl mx-auto px-4 py-16 md:py-24 text-center">
      <SectionHeading
        title="Ready to Transform Your Space?"
        description="Connect with our aluminum experts to discuss your window and door requirements. We provide customized, tested solutions for residential and commercial projects with guaranteed quality."
        headingClass="text-neutral-50"
        descriptionClass="text-neutral-200"
      />
      <div class="flex gap-2 md:gap-4 my-8 justify-center">
        <Button link="/contact" variant="default" classList="md:py-4 md:px-12"
          >Schedule Consultation</Button
        >
        <!-- <Button variant="default" classList="md:py-4 md:px-12">
          Get a Quote</Button
        > -->
      </div>
      <div
        class="pt-8 border-t border-neutral-300 gap-4 grid md:grid-cols-3 grid-cols-1 justify-items-center"
      >
        {
          serviceHighlights.map((highlight) => {
            return (
              <div class="bg-[rgba(217, 217, 217, 0.45)] bg-white/20 rounded-2xl p-8 max-w-2xs w-full text-white grid place-items-center">
                <div class="mb-4">
                  <Image
                    src={highlight.icon}
                    alt={highlight.title}
                    width={56}
                  />
                </div>
                <div class="flex flex-col gap-1">
                  <h3 class="text-lg font-medium text-neutral-50">
                    {highlight.title}
                  </h3>
                  <p class="text-sm text-neutral-100">
                    {highlight.description}
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
  <Marquee />
</section>
